
/** DOCUMENT LAYOUT ***************************/
		html, body {
			margin: 0;
			padding: 0;
			font-family: Avenir, Arial, sans-serif; 
		}

		nav {
		  margin:0;
		  padding:0;
		 /* position:fixed;*/
		}
		
		#logo{
			width:100%;
			max-width: 300px;
			margin-left: 12%;
			margin-top:5%;

		}

		#breadcrumbs_container{
			margin-top: 2%;
			margin-bottom: 2%;
			float:right;
			width:80%;
			display:none;
		}


		#breadcrumbs {
			margin-left: 10%;
			margin-right: 10%;
			display: -webkit-flex;
			display:flex;
   	    	box-orient: horizontal;
			-webkit-flex-direction: row;
   	    	flex-direction: row;
			-webkit-box-pack:center;
   	    	justify-content: center;

		}

		#breadcrumbs>span { 
			-webkit-box-flex: 1;
    		-moz-box-flex: 1;
    		box-flex: 1;
    		-webkit-flex: 1 1 auto;
    		flex: 1 1 auto;
    		margin: 5px;
    		text-align: center;

			font-size: 1em;
			font-weight: bold;

		}
		
		#intro { 
			padding-left: 11%;
			padding-right: 11%;
			font-size: 1.5em;

		}

		#columnWrapper,#columnWrapper>li>ul,#columnWrapper>li>div>ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height:100%;
			width: 100%;
			position: relative;
			background-color:white;
		}

		#columnWrapper>li {
			text-align: center;
			vertical-align: top;
			width: 80%;
			left: 0;
			top: 0;
		}
		
		#columnWrapper>li#eraColumn {			
			background-color: white;
			z-index: 100;
			overflow: hidden;
			margin: 0;
			padding-right: 10%;
			padding-left: 10%;
		}

		#era {
		display: -webkit-flex;
        display:flex;
   	    box-orient: horizontal;
   	    flex-direction: row;
   	    justify-content: center;
		}

		.rotate { 
		-webkit-box-flex: 1;
    	-moz-box-flex: 1;
    	box-flex: 1;
    	-webkit-flex: 1 1 auto;
    	flex: 1 1 auto;
    	margin: 5px;
    	position: relative;
		}
		
		.rotate:hover .overlay {
			visibility: visible; 
			opacity: .5;	
		}

		#columnWrapper>li#movementColumn {
			display:none;
			background-color: #dbdbda;
			z-index: 90;
			overflow: hidden;
		}

		#columnWrapper>li#movementColumn>div {
			margin-left: 20%;
			padding: 0 5px;
		}

		#columnWrapper>li#artistColumn {
			display:none;
			background-color: #dbdbda;
			z-index: 80;
			overflow: hidden;
		}

		#columnWrapper>li#artistColumn>div {
			margin-left: 20%;
			padding: 0 5px;
		}

		#columnWrapper>li#artworkColumn {
			display:none;
			background-color:#dbdbda;
			z-index:70;
			overflow: hidden;

		}
		#columnWrapper>li#artworkColumn>div {
			margin-left: 20%;
			padding: 0 5px;
		}

		.fan{
			overflow: hidden;
		}

		#closeArtwork {
			position: absolute;
			top: 20px;
			right: 30px;
			
		}
		
		#closeMovements {
			position: absolute;
			top: 20px;
			right: 30px;
		}		

		#closeArtists { 
			position: absolute;
			top: 20px;
			right: 30px;
			
		}

		
		

/** IMAGE LAYOUT ***************************/
		
		.start_img
		{
			position:relative;
			max-width: 100%;
			height: auto;
			box-shadow: 0 10px 8px -6px rgba(0,0,0,0.2);
		}

		.start_img:hover .overlay
		{
			visibility: visible; 
			
		}

		.overlay
		{
			display:block;
			visibility: hidden;
			transition: visibility 0.2s linear, opacity 0.2s linear ease;
			position:absolute;
			background-color: black;
			top: 0;
			left: 0;
			width: 100%;
			height: 98%;
			opacity: .9;
			color: white;
			text-align: center;
			/*font-size: 2.5em;*/
			font-size: 3.0vw;

		}
	

		.movement_img, .artist_img{
			width: 150%;
			height:auto;
			border: 7px solid white;
			box-shadow: 0 10px 8px -6px rgba(0,0,0,0.2);
		}

		#closeArtwork>img {
			display: none;
			max-width: 50%;
			height: auto;
		}

		#closeMovements>img {
			max-width: 50%;
			height: auto;		
		}

		#closeArtists>img {
			max-width: 50%;
			height: auto;		
		}

		.imgContainer
		{
			position:relative;
			display: inline-block;
			width: auto;
			height: auto;
			margin-left:5%;
			margin-right:17%;
			margin-top:5%;
		}

		.imgContainer:hover .stats_overlay
		{
			visibility: visible; 
			opacity: .5;
			
		}

		.stats_overlay
		{
			opacity: 0;
			display:block;
			visibility: hidden;
			transition: visibility 0.2s linear, opacity 0.2s linear ease;
			position:absolute;
			background-color: black;
			top: 0;
			left: 0;
			width: 155.7%;
			/*width:100%;*/
			height: 100%;
			opacity: .8;
			color: white;
			text-align: center;
		}
	
		.stats_overlay>div
		{
			font-size: 1.5em;
			padding-bottom: 2%;
		}
		
		.stats_overlay>p
		{
			font-size: 2.5em;
			padding-top: 5%;
			padding-bottom: 0:;
			margin-bottom: 0;
			font-family: Avenir, Arial, sans-serif; 
		}
		
		div#artworkContainer > * {
			border: 7px solid white;
			background: #fff;
			display: inline-block;
			box-shadow: 0 10px 8px -6px rgba(0,0,0,0.2); 
		}

		.large_imgContainer{ 
			margin: 60px;
			margin-right: 120px;
			margin-left: 120px;
		}

		figcaption { 
  			padding: 5px;
  			text-align: left;
            color: #333;
            font-family: Avenir, Arial, sans-serif; 
		}

