	
		html, body
		{
			margin: 0;
			padding: 0;
			font-family: sans-serif;
		}
		

/**SET UP IMAGE LAYOUT ***************************/
		.era_img{
			max-width: 100%;
			height: auto;
		}

		.movement_img, .artist_img{
			width: 150%;
			height:auto;
			border: 7px solid white;
			box-shadow: 0 10px 8px -6px rgba(0,0,0,0.2); 

		}

		.imgContainer{
			position:relative;
			display: inline-block;
			width: auto;
			height: auto;
			margin-left:5%;
			margin-right:17%;
			margin-top:5%;
		}

		.imgContainer:hover .overlay{
			display:block;
		}

		.overlay{
			display:none;
			position: absolute;
			bottom:0;
			left:0;
			background-color:black;
			width: 156%;
			opacity: .5;
			height:100%;
			color:white;
		}

		.large_imgContainer{ 
			display: block;
			positiion: relative;
			margin: 60px;
		}

/** DOCUMENT LAYOUT ***************************/
		#columnWrapper,#columnWrapper>li>ul,#columnWrapper>li>div>ul
		{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;
			position: relative;
		}
		#columnWrapper>li
		{
			text-align: center;
			vertical-align: top;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		#columnWrapper>li#eraColumn
		{			
			background-color: #dbdbda;
			z-index: 100;
			overflow: hidden;
		}

		#columnWrapper>li#movementColumn
		{
			background-color: #dbdbda;
			z-index: 90;
			overflow: hidden;
		}
		#columnWrapper>li#movementColumn>div
		{
			margin-left: 20%;
			padding: 0 5px;
		}

		#columnWrapper>li#artistColumn
		{
			background-color: #dbdbda;
			z-index: 80;
			overflow: hidden;
		}
		#columnWrapper>li#artistColumn>div
		{
			margin-left: 20%;
			padding: 0 5px;
		}
		#columnWrapper>li#artworkColumn
		{
			background-color:#dbdbda;
			z-index:70;
			overflow: hidden;

		}
		#columnWrapper>li#artworkColumn>div
		{
			margin-left: 20%;
			padding: 0 5px;
		}

		.fan{
			overflow: scroll;
		}


		#closeArtwork
		{
			position: absolute;
			top: 20px;
			right: 30px;
			
		}
		#closeArtwork>img
		{
			max-width: 50%;
			height: auto;
		}

		#closeMovements
		{
			position: absolute;
			top: 20px;
			right: 30px;
		}

		#closeMovements>img
		{
			max-width: 50%;
			height: auto;		
		}


		#closeArtists
		{ 
			position: absolute;
			top: 20px;
			right: 30px;
			
		}

		#closeArtists>img
		{
			max-width: 50%;
			height: auto;		
		}

	