<html>
  <head>
      <title>Tate Explorer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../static/css/flatstrap.min.css" rel="stylesheet" media= "screen">
      <link href="../static/css/flatstrap-theme.min.css" rel="stylesheet" media="screen">
      <link href="../static/css/style.css" rel= "stylesheet" media="screen">
      <!-- HTML5 shim and Respond.js IE8 supporof HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js</script>
        <script src="../../assets/js/respond.mijs"></script>
      <![endif]-->
  </head>

<body>

<ul class="cols">
  <li class="col"> <h2> Eras</h2>
    <img src = "../static/img/T03456_9.jpg" class = "era_img">  
  </li>

  <li class="col"> Movements!! 
  </li>

  <li class="col"> Artwork!!
  </li>

  <li class="col">Artist!!
  </li>


  <!-- <li class="col">column 5</li> -->
</ul>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js'></script>

  <script src="../static/js/base.js"></script>

</body>

</html>

  