
<body>
<figure class = "image_container" >	
	<img src = "http://www.tate.org.uk/art/images/work/T/T00/T00541_8.jpg"></img>
	<!-- <figcaption class = "group_info">MONKEYS!</figcaption> -->
	<div class = "overlay"><p>Movement</p><img src = "../static/img/expand_icon.png"</img><div>76 artists<br>31 images </div></div>
</figure>
</body>
<!-- <img src = "http://www.tate.org.uk/art/images/work/T/T00/T00541_8.jpg"></img> -->


<style>

.body{
	background-color:green;

}

.image_container{
	position : relative;
	display: inline-block;
	margin : 40px;
} 

.image_container>img{
	width: 150%;
	height: auto;
	border: 7px solid white;
	box-shadow: 0 10px 8px -6px rgba(0,0,0,0.2);

}

.image_container:hover .overlay {
	visibility: visible; 
	opacity: .5;
	
}

.overlay{
	opacity: 0;
	display:block;
	visibility: hidden;
	-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
	-moz-transition: visibility 0.2s linear, opacity 0.2s linear; -o-transition: visibility 0.2s linear, opacity 0.2s linear ease;
	position:absolute;
	background-color: black;
	top: 0;
	left: 0;
	width: 155.5%;
	height: 100%;
	opacity: .5;
	color: white;
	text-align: center;
}

.overlay>div{
	font-size: 1.5em;
	font-family: Avenir, Arial, sans-serif;
	padding: 2%;
}

.overlay>p{
	font-size: 3em;
	padding-top: 10%;
	margin-bottom: 0;
	font-family: Avenir, Arial, sans-serif; 
}

.overlay>img{
	padding:2%;
	width: 15%;
}

</style>


<script>   </script> 







