<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="../static/CSS/style.css" rel="stylesheet">
	<script src="../static/js/index.js"></script>
	<script src="../static/js/prefixfree.min.js"></script>
</head>
<body>

<nav>
        <img  id = "logo" alt="logo" src="../static/img/logo_3.jpg"/>
</nav>

<p id = "intro">Please click on a time period to begin exploring....</p>

<ul id="columnWrapper">
	
	<li id="eraColumn">
		<div class="fan">
			<ul id = "era">
				<li class = "rotate"><img  id = "start" class = "start_img" data-era="289" data-name = "16th and 17th century" src="../static/img/T03456.jpg"/></li>
				<li class = "rotate"><img class = "start_img"data-era="290" data-name = "18th century"src="../static/img/18th.jpg"/></li>
				<li class = "rotate"><img class = "start_img"data-era="350" data-name = "19th century" src="../static/img/19th.jpg" /></li>
				<li class = "rotate"><img class = "start_img" data-era="8" data-name ="20th century post-1945" src="../static/img/Early 20th century.jpg"/></li>
				<li class = "rotate"><img class = "start_img" data-era="415" data-name ="20th century" src="../static/img/20th.jpg"   /></li>
			</ul>
		</div>
	</li>

	<li id="movementColumn">

		<div id = "movementContainer" class="fan">			
		</div>

		<div id="closeMovements"> <img src = "../static/fonts/Caret.png"></div>

	</li>


	<li id="artistColumn">

		<div id="artistContainer" class="fan">
		</div>

		<div id="closeArtists"><img src = "../static/fonts/Caret.png"></div>

	</li>

	<li id="artworkColumn">
		<div id="artworkContainer" class="fan">	
		</div>
			



		<div id="closeArtwork"><img src = "../static/fonts/Caret.png"></div>
	</li>



</ul>

</body>
</html>