<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="../static/CSS/style.css" rel="stylesheet">
	<script src="../static/js/index.js"></script>
</head>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="">
      </a>
    </div>
  </div>
</nav>

<body>

<ul id="columnWrapper">
	
	<li id="eraColumn">
		<div class="fan">
			<ul id = "era">
				<li class = "rotate"><img class = "start_img" data-era="289" alt = "16th and 17th century" src="http://www.placekitten.com/g/200/201" class = "era_img" /></li>
				<li class = "rotate"><img class = "start_img"data-era="290" alt = "18th century"src="http://www.placekitten.com/g/200/201" class = "era_img"/></li>
				<li class = "rotate"><img class = "start_img"data-era="350" alt = "19th century" src="http://www.placekitten.com/g/201/200" class = "era_img"/></li>
				<li class = "rotate"><img class = "start_img" data-era="8" alt ="20th century post-1945" src="http://www.placekitten.com/g/201/200" class = "era_img"/></li>
				<li class = "rotate"><img class = "start_img" data-era="415" alt ="20th century" src="http://www.placekitten.com/g/201/200" class = "era_img" /></li>
			</ul>
		</div>
	</li>

	<li id="movementColumn">

		<div id = "movementContainer" class="fan">			
		</div>

		<div id="closeMovements"> <img src = "../static/fonts/Caret.png"></div>

	</li>


	<li id="artistColumn">

		<div id="artistContainer" class="fan">
		</div>

		<div id="closeArtists"><img src = "../static/fonts/Caret.png"></div>

	</li>

	<li id="artworkColumn">
		<div id="artworkContainer" class="fan">	
		</div>
			



		<div id="closeArtwork"><img src = "../static/fonts/Caret.png"></div>
	</li>



</ul>

</body>
</html>